.footer {
    background-color: #FAFAFA;
    padding: 5rem 0;
    
    @include media-breakpoint-down(lg) {
        padding: 8.5rem 0;
    }


    &__social li {
        display: inline-block;
        margin-right: 15px;
    }

    &__small {
        padding-top: 8.5rem;
    }

    &__contact {
        margin-top: 2rem;
    }

    &__badges {
       width: 216px;
       max-width: 100%;
    }

    address {
        font-style: normal;
    }

    nav a {
        display: block;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}
