.three-column {
    text-align: center;
    background-color: #FAFAFA;
    &__heading {
        margin-bottom: 6rem;
        font-weight: bold;
    }
    &__box {
        position: relative;
        background-color: #fff;
        width: 83%;
        margin: 0 auto;
        padding: 25px;
        border-radius: 6px;
        top: -45px;
        
        @include media-breakpoint-up(lg) {
            top: -90px;
        }
    }
}