.two-column {
    &__video {
        position: relative;
        padding-top: 2.5rem;
        @include media-breakpoint-up(lg) {
            padding-top: 0;
        }
    }

    &__play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        
        @include media-breakpoint-up(lg) {
            left: 0;
            top: 50%;
        }
    }

    &__icons {
        max-width: 132px;
        margin-top: 40px;
    }

    &__images {
        @include media-breakpoint-down(lg) {
            padding-top: 2.5rem;
        }
    }

    &__form {
        input,
        select {
            width: 100%;
            padding: 2rem;
            margin-bottom: 2.5rem;
            border: 1px solid #333;
            border-radius: 6px;
        }

        select {
            appearance: none;
            -webkit-appearance: none;
            background-image: url('../../src/img/arrow.svg');
            background-repeat: no-repeat;
            background-position: 95%;
        }

        input[type="submit"] {
            width: auto;
            background-color: #ED4C5C;
            border: none;
            color: #fff;
            font-size: 1.4rem;
            padding: 1.7rem 3.4rem;
            margin-bottom: 0;
        }

        select,
        input[type="submit"] {
            cursor: pointer;
        }

    }
}