html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: $font-family;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 0.55em;
  
  @include media-breakpoint-up(lg) {
    font-size: 7.2rem;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 1.4;

  @include media-breakpoint-up(lg) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: $color-black;
}

img {
  width: 100%;
}

section {
  padding: 5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 10rem 0;
  }
}
