// base
// -- colors

$color-black: #101010;
$color-red: #D52047;
$color-orange: #EE3D1B;
$color-grey: #132743;

// -- fonts

$font-family: "Lato", Arial, Helvetica, sans-serif;
$font-family-alt: "Lato", Arial, Helvetica, sans-serif;
$font-family-heading: "Lato", Arial, Helvetica, sans-serif;

// layout
// -- gri
$grid-gutter: 30px;
$grid-container: 1110px;

// menu
// -- logo
$width-logo: 172px;

// -- burger
$color-burger: #000;
$width-burger-line: 20px;
$height-burger-line: 3px;
$margin-burger-line: 4px;
$radius-burger-line: 0px;
$transform-y-burger-line: $margin-burger-line + $height-burger-line;

// -- overlay
$background-color-overlay: #fff;
